.about {
	position: relative;
	text-align: center;
	color: white;
	height: 100vw;
}
.aboutText {
	font-family: 'PT Sans', sans-serif;
}

.headingTitle h1 {
	color: black;
	position: absolute;
	top: 8%;
	left: 63.5%;
	transform: translate(-50%, -50%);
	font-size: xx-large;
	opacity: 0.85;
}

.textblock {
	position: absolute;
	top: 39%;
	left: 63.75%;
	transform: translate(-50%, -50%);
	color: black;
	opacity: 0.75;
	text-align: center;
	z-index: 1;
}
