.landing {
	position: relative;
	width: 100%;
	height: 100vh;
	font-family: 'Lato', sans-serif;
}

.landing__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

.landing__title {
	position: absolute;
	bottom: 57%;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	font-size: 4rem;
	padding: 15px;
}
