.title {
	display: relative;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	margin-top: 150px;
	color: #071330;

	margin-left: 150px;
}
.radialBar {
	position: relative;
	display: inline-block;
	justify-content: center;
	margin-top: 50px;
	margin-left: 225px;
	margin-right: 80px;
}
.heatchart {
	position: relative;
	margin-top: -80px;
	margin-left: 115px;
	margin-right: 100px;
}
