.title {
	display: relative;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	margin-top: 90px;
	color: #071330;

	margin-left: 150px;
}
.radialBar {
	position: relative;
	display: inline-block;
	justify-content: center;

	margin-left: 170px;
}
.heatchart {
	position: relative;
	margin-top: -80px;
	margin-left: 95px;
	margin-right: 100px;
}
