.navbar {
	display: flex;
	background-color: #141e30;
	height: 70px;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px 0px 30px;
	position: sticky;
	top: 0px;
	z-index: 5;
	transition: 500ms;
	margin-bottom: -70px;
}

.navbar__logo {
	color: white;
	font-family: 'Jost', sans-serif;
	font-size: 2.5rem;
	cursor: pointer;
}

.navbar__list {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	top: -100%;
	right: -44%;
	width: 100%;
	height: 300px;
	position: absolute;
	transition: all 0.5s ease;
	opacity: 0;
	pointer-events: none;
	z-index: 1;
}
.navbar__list--active {
	display: flex;
	opacity: 100;
	top: 53px;
	pointer-events: all;
	z-index: 1;
}
.navbar__item {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0;
	flex: 1;
}
.navbar__link {
	display: flex;
	height: 100%;
	width: 12%;
	justify-content: center;
	align-items: center;
	background-color: #141e30;
	opacity: 0.9;
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 0.85rem;
}
.navbar__link:hover {
	opacity: 0.7;
}

.navbar__menu {
	color: white;
	display: block;
	cursor: pointer;
}
.navbar__menu:hover {
	border-width: 0px;
	opacity: 0.9;
}
